<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>{{ page.title }} - {{ site.name }}</title>

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/colors/orange.css" id="colors">

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Java Script
================================================== -->
<!--
<script src="scripts/jquery.min.js"></script>
<script src="scripts/jquery.flexslider.js"></script>
<script src="scripts/jquery.selectnav.js"></script>
<script src="scripts/jquery.twitter.js"></script>
<script src="scripts/jquery.modernizr.js"></script>
<script src="scripts/jquery.easing.1.3.js"></script>
<script src="scripts/jquery.contact.js"></script>
<script src="scripts/jquery.isotope.min.js"></script>
<script src="scripts/jquery.jcarousel.js"></script>
<script src="scripts/jquery.fancybox.min.js"></script>
<script src="scripts/jquery.transit-modified.js"></script>
<script src="scripts/jquery.layerslider-transitions.js"></script>
<script src="scripts/jquery.layerslider.min.js"></script>
<script src="scripts/jquery.shop.js"></script>
<script src="scripts/custom.js"></script>
-->

</head>
<body>

<!-- Wrapper / Start -->
<div id="wrapper">

<!-- Header
================================================== -->
<div id="top-line"></div>

<!-- 960 Container -->
<div class="container">

  <!-- Header -->
  <header id="header">

    <!-- Logo -->
    <div class="ten columns">
      <div id="logo">
        <h1><a href="#"><img src="/images/logo.png" alt="Teamshirts logo" /></a></h1>
<!--        <div id="tagline">T-Shirts für dein Team!</div> -->
        <div class="clearfix"></div>
      </div>
    </div>

    <!-- Social / Contact -->
    <div class="six columns">

      <!-- Social Icons -->
<!--      <ul class="social-icons">
        <li class="twitter"><a href="https://twitter.com/teamshirts">Twitter</a></li>
        <li class="facebook"><a href="#">Facebook</a></li>
      </ul> -->

      <div class="clearfix"></div>

      <!-- Contact Details -->
      <div class="contact-details">
      	<ul>
      		<li><a href="tel:+49 341 59 400 5900">Telefon: +49 341 59 400 5900</a></li>
      		<li><a href="mailto:service@teamshirt.net">Email: service@teamshirt.net</a></li>
      	
      	</div>

      <div class="clearfix"></div>

    </div>
  </header>
  <!-- Header / End -->

  <div class="clearfix"></div>

</div>
<!-- 960 Container / End -->


<!-- Navigation
================================================== -->
<nav id="navigation" class="style-1">

<div class="left-corner"></div>
<div class="right-corner"></div>

<ul class="menu" id="responsive">

  <li><a href="/" id="current"><i class="halflings white home"></i> Home</a></li>
  <li><a href="#"><i class="halflings white user"></i> Teams</a>
    <!-- Mega Menu / Start -->
    <ul class="cols3">
      <li class="col3">
        <h4>Wähle dein Team</h4>
      </li>
      <li class="col1">
        <h5>Sport</h5>
        <ol>
          <li><a href="sport/handball.html">Handball</a></li>
          <li><a href="flexslider.html">Fußball</a></li>
          <li><a href="pricing-tables.html">Basketball</a></li>
        </ol>
      </li>
      <li class="col1">
        <h5>Anlässe</h5>
        <ol>
          <li><a href="faq.html">Junggessellenabschied</a></li>
          <li><a href="404-page.html">Geburtstag</a></li>
          <li><a href="left-sidebar.html">Einschulung</a></li>
        </ol>
      </li>
    </ul>
    <!-- Mega Menu / End -->
  </li>
  <li><a href="shirtdesigner.html"><i class="halflings white edit"></i> Shirt designer</a></li>
  <li><a href="/blog.html"><i class="halflings white pencil"></i> Blog</a></li>

  <li><a href="/kontakt.html"><i class="halflings white envelope"></i> About us</a></li>

</ul>
</nav>
<div class="clearfix"></div>


<!-- Content
================================================== -->
<div id="content">
  {{ content }}
</div>
<!-- Content / End -->

</div>
<!-- Wrapper / End -->


<!-- Footer
================================================== -->

<!-- Footer / Start -->
<footer id="footer">
  <!-- 960 Container -->
  <div class="container">
    <!-- Contact Details -->
    <div class="four columns">
      <h4>Kontakt</h4>
      <ul class="contact-details-alt">
        <li><i class="halflings white map-marker"></i> <p><strong>Address:</strong>
            Gießerstraße 27, 04229 Leipzig, Deutschland</p></li>
        <li><i class="halflings white user"></i> <p><strong>Telefon:</strong> <a href="tel:+49 341 59 400 5900">+49 341 59 400 5900</a></p></li>
        <li><i class="halflings white envelope"></i> <p><strong>Email:</strong> <a href="mailto:kontakt@teamshirts.de">kontakt@teamshirts.de</a></p></li>
      </ul>
    </div>
    <div class="four columns">
      <h4>Deine Vorteile</h4>
      <ul class="contact-details-alt">
	      <li><i class="halflings white check"></i><p><a href="#">30 Tage Umtauschrecht</a></p></li>
	      <li><i class="halflings white check"></i><p><a href="#">Leiferung innerhaib Deutschlands: 3-5 Werktage</a></p></li>
	      <li><i class="halflings white check"></i><p><a href="#">Hohe Produkt- und Druckqualitat</a></p></li> 
      </ul>
      
      <div class="clearfix"></div>
    </div>
    <div class="four columns">
      <h4>Wir akzeptieren</h4>
      <div id="footer_payment_methods" class="clearfix">
		  <div class="visa" title="VISA"></div>
		  <div class="mastercard" title="MasterCard"></div>
		  <div class="amex" title="American Express"></div>
		  <div class="paypal" title="PayPal"></div>
	  </div>
      
      <div class="clearfix"></div>
    </div>
   <div class="four columns">
      <h4>Quick links</h4>
      <ul>
	      <li><a href="#">FAQ's</a></li>
	      
	      <li><a href="#">Another link</a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- 960 Container / End -->

</footer>
<!-- Footer / End -->


<!-- Footer Bottom / Start  -->
<footer id="footer-bottom">

  <!-- 960 Container -->
  <div class="container">

    <!-- Copyrights -->
    <div class="eight columns">
      <div class="copyright">
        © Copyright 2014 by <a href="#">Teamshirts</a>. All Rights Reserved.
      </div>
    </div>

    <!-- Menu -->
    <div class="eight columns">
      <nav id="sub-menu">
        <ul>
          <li><a href="#">FAQ's</a></li>
          <li><a href="#">Sitemap</a></li>
          <li><a href="/datenschutz">Datenschutz</a></li>
          <li><a href="/impressum">Impressum</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
        </ul>
      </nav>
    </div>

  </div>
  <!-- 960 Container / End -->

</footer>
<!-- Footer Bottom / End -->


</body>
</html>